@import '../../../../../../styles/sizing.module.css';
@import '../../../../../../styles//colors.module.css';

.fieldset {
  margin-bottom: 1rem;
  flex: 1 1 200px;
  padding: 0 var(--page-pad-quarter);
}

.label {
  display: block;
  padding-bottom: var(--page-pad-eighth);
}

.error {
  margin-top: var(--page-pad-eighth);
  font-size: var(--font-size-s);
  color: var(--color-error);
}