.container {

}

.container:not(:last-child) {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.swatch {
  width: 4rem;
  height: 4rem;
  border-radius: 10rem;
  display: block;
  box-shadow: 0 .5rem .5rem rgba(0,0,0,.2);
  cursor: pointer;
}

.input {
  display: none;
}