@import '../../../styles/colors.module.css';
@import '../../../styles/sizing.module.css';

.newMenu {
  width: var(--page-pad-double);
  height: var(--page-pad-double);
  border-radius: var(--page-pad-double);
  background-color: var(--color-primary);
  position: absolute;
  top: var(--page-pad);
  right: var(--page-pad);
  z-index: 200;
  cursor: pointer;
}

.newMenuButton {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
  text-align: center;
}

.menuBody {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 200px;
  background-color: red;
  color: white;
  z-index: 100;
}