@value color-grey-light-1 from '../../../assets/css/colors.css';
@value insetShadow from '../../../assets/css/shadows.css';

.fieldset {
  width: 100%;
  border: none;
}

.fieldset:not(:last-child) {
  margin-bottom: 1rem;
}

.fieldset label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: .6rem;
}

.fieldset input {
  width: 100%;
  padding: 1rem;
  border-radius: 100px;
  border: none;
  background-color: color-grey-light-1;
  box-shadow: insetShadow;
}
