.events-by-month {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.controller {
  display: flex;
  width: 40rem;
  align-self: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  align-items: center;
}

.controller-button {
  padding: 1rem;
}