.header {
  margin-bottom: 3rem;
}

.title {
  color: var(--color-black);
  display: inline-block;
  margin-right: 3rem;
}

.divider {
  height: .5rem;
  background-color: var(--color-primary);
  border: none;
}