@import '../../styles/sizing.module.css';

.header {
  margin-bottom: var(--page-pad);
}

.title {
  color: var(--color-black);
  display: inline-block;
  margin-right: var(--page-pad);
}

.divider {
  height: .5rem;
  background-color: var(--color-primary);
  border: none;
}