.row {
  display: flex;
  flex-direction: row;
}

.row > * {
  flex: 1 1 100%;
}

.row>*:not(:last-child) {
  margin-right: 1rem;
}

.row>*:not(:first-child) {
  margin-left: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
}

.column>*:not(:last-child) {
  margin-bottom: 2rem;
}

.section:not(:first-child) {
  margin-top: 2rem;
}

.section-title {
  background-color: var(--color-primary);
  color: #FFFFFF;
  padding: 1rem;
  margin-bottom: 2rem;
}