.fieldset {
  width: 100%;
  border: none;
}

.fieldset:not(:last-child) {
  margin-bottom: 2rem;
}

.fieldset label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: .6rem;
}

.fieldset input {
  width: 100%;
  padding: 1rem;
  border-radius: 100px;
  border: 2px solid var(--color-grey-light-2);
  background-color: var(--color-grey-light-1);
  box-shadow: var(--inset-shadow);
}

.fieldset input:focus {
  outline: none;
  border-color: var(--color-primary);
}
