.header {
  background-color: var(--color-primary);
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  text-shadow: 0 2px 1px rgba(0,0,0,0.2);
}

.header button {
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}