@import '../../../styles/sizing.module.css';
@import '../../../styles/colors.module.css';

.user-list-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 2px var(--color-white) solid;
  transition: border 0.4s;
}

.user-name {
  color: var(--color-primary);
}

.user-role {
  text-transform: uppercase;
  font-size: 1.4rem;
}

.quick-info {
  flex-grow: 1;
}

.edited {
  border: 2px var(--color-primary) solid;
}