.chip {
  background-color: #FC5130;
  color: white;
  display: inline-block;
  border-radius: 10rem;
  cursor: pointer;
  border: none;
  width: 2rem;
  height: 2rem;
  position: relative;
  box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.2);
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: .75rem;
}