.input:focus {
  outline: none;
  border-color: var(--color-primary);
}

.input {
  width: 100%;
  padding: 1rem;
  border-radius: var(--rounded-corner);
  border: 2px solid var(--color-grey-light-2);
  background-color: var(--color-grey-light-1);
  box-shadow: var(--inset-shadow);
}
