@import '../../../styles/sizing.module.css';

.card {
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: var(--box-shadow);
  padding: var(--page-pad);
  width: auto;
  margin-bottom: var(--page-pad);
}

.cardHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: var(--page-pad-half);
}

.cardTitle {
  flex-grow: 1;
  margin-bottom: 0;
}

.cardClose {
  align-self: flex-end;
  padding: var(--page-pad-third);
}

.headerDivider {
  height: .3rem;
  background-color: var(--color-primary);
  border: none;
  margin-bottom: var(--page-pad-half);
}